{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {% if error %}
        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}

    <form method="post">
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" value="{{ last_username }}" required autofocus><br>

        <label for="password">Mot de passe</label><br>
        <input type="password" id="password" name="password" required><br>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">Se connecter</button>
    </form>
{% endblock %}
